<div class="container">
    <div class="form-group">
        <h2>Resend Code</h2>
    </div>
    <div *ngIf="errorMessage!=null" class="alert alert-danger">
        {{ errorMessage }}
    </div>
    <div class="form-group">
        <label class="control-label" for="signupEmail">Email</label>
        <input id="signupEmail" type="email" maxlength="50" class="form-control" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <button (click)="resendCode($event)" id="signupSubmit" type="submit" class="btn btn-info btn-block">
            Resend Code
        </button>
    </div>

    <hr>
    <ul>
        <li>
            <a [routerLink]="['/register']"> <i class="material-icons">perm_identity</i> Register</a>
        </li>
        <li>
            <a [routerLink]="['/login']"> <i class="material-icons">launch</i> Login</a>
        </li>
    </ul>
</div>