<% include ../../partials/common/header %>
<iframe src="<%= file.expiring_embed_link.url %>" allowfullscreen='allowfullscreen' frameBorder='0' height='600px' id='preview' width='100%'></iframe>
<a href="/files/<%= file.id %>">
    Return
</a>
<% include ../../partials/common/footer %>