<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1"
         metadata-complete="true">
    <!-- Servlets -->
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.box.example.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.box.example.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>com.box.example.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContentPicker</servlet-name>
        <servlet-class>com.box.example.ContentPickerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContentUploader</servlet-name>
        <servlet-class>com.box.example.ContentUploaderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContentTree</servlet-name>
        <servlet-class>com.box.example.ContentTreeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Callback</servlet-name>
        <servlet-class>com.box.example.CallbackServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContentPicker</servlet-name>
        <url-pattern>/content-picker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContentUploader</servlet-name>
        <url-pattern>/content-uploader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContentTree</servlet-name>
        <url-pattern>/content-tree</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Callback</servlet-name>
        <url-pattern>/callback</url-pattern>
    </servlet-mapping>

    <!-- Filters -->
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.box.example.Auth0Filter</filter-class>
        <init-param>
            <param-name>auth0.redirect_on_authentication_error</param-name>
            <param-value>/login</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/dashboard</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/content-picker</url-pattern>
    </filter-mapping>

    <context-param>
        <param-name>com.auth0.domain</param-name>
        <param-value>auth0Domain</param-value>
    </context-param>
    <context-param>
        <param-name>com.auth0.clientId</param-name>
        <param-value>auth0ClientId</param-value>
    </context-param>
    <context-param>
        <param-name>com.auth0.clientSecret</param-name>
        <param-value>auth0ClientSecret</param-value>
    </context-param>
</web-app>