@{
    ViewBag.Title = "Home Page";
}

<h3><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Successfully connected as the Service Account</h3>
<h3><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> @ViewBag.Message</h3>